@use "../../../../styles/variables" as variables;

.card {
  cursor: pointer;
  width: 100%;
  text-align: center;

  .image {
    height: 205px;
    width: 100%;
    margin-bottom: 24px;
    border-radius: 144px;
    object-fit: cover;
    object-position: center;
  }

  .location {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #2f3330;
    margin-bottom: 10px;

    .icon {
      font-size: 16px;
    }
  }

  .title {
    @extend %main-text-16;
    margin-bottom: 8px;
  }

  .price {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.25px;
    color: #232624;
  }
}
