@use "../../../../styles/_variables.scss" as variables;

.menu {
  position: absolute;
  padding: 24px;
  top: 380%;
  right: 5%;
  background-color: #e6f3ec;
  box-shadow: 2px 2px 4px rgba(45, 45, 45, 0.05);
  border-radius: 8px;
  z-index: 99;

  .menu_item {
    cursor: pointer;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 13px;
    color: #232624 !important;
  }
}
