@use "../../styles/variables" as variables;

.s_navbar {
  position: relative;
  padding: 34px 45px;
  background-color: #e6f3ec;
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
  z-index: 999;

  @media screen and (max-width: variables.$small_laptop_width) {
    padding-top: 24px;
    padding-bottom: 0;
    padding-inline: 0;
    margin-bottom: 27px;
  }

  &[data-type="true"] {
    padding: 24px 45px 0;

    @media screen and (max-width: variables.$small_laptop_width) {
      padding-top: 24px;
      padding-inline: 0;
    }
  }

  &[data-product="true"] {
    @media screen and (max-width: variables.$default_laptop_width) {
      padding-top: 24px;
      padding-bottom: 0;
      margin-bottom: 27px;
      padding-inline: 0;

      .hidden_section {
        display: block;

        .top_section {
          display: flex;
        }

        .input_wrapper {
          display: block;
        }
      }
    }
  }

  .s_navbar_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      @extend %button;
    }

    .title_wrapper {
      flex: auto;
      .title {
        @extend %snavbar-title;

        @media screen and (max-width: variables.$small_laptop_width) {
          display: none;
        }

        &[data-type="true"] {
          @media screen and (max-width: variables.$default_laptop_width) {
            display: none;
          }
        }
      }
    }

    .filter_wrapper {
      flex: 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;

      &[data-type="true"] {
        flex: 8;

        @media screen and (max-width: variables.$default_laptop_width) {
          display: none;
        }
      }

      @media screen and (max-width: variables.$small_laptop_width) {
        display: none;
      }

      .input_wrapper {
        flex: 8;
        position: relative;

        .input {
          width: 100%;
          @extend %input;
          padding-block: 17px;
          padding-left: 57px;
        }

        &::after {
          position: absolute;
          content: url("../../assets/icons/SecondNavbar/search.svg");
          width: 21px;
          height: 21px;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .filter_btn_wrapper {
        position: relative;
      }

      .filter_button {
        flex: 2;
        display: flex;
        justify-content: center;
        gap: 51px;
        align-items: center;
        background-color: #b0dac4;
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #101211;
        white-space: nowrap;

        &[data-hidden="true"] {
          display: none;
        }

        .icon {
          font-size: 20px;
          transform: rotate(-90deg);
        }
      }
    }

    .add_button {
      &[data-show="false"] {
        display: none;
      }

      @media screen and (max-width: variables.$default_tablet_width) {
        display: none;
      }
    }
  }

  .hidden_section {
    display: none;
    background-color: #fff;
    padding-inline: 20px;
    padding-top: 24px;

    @media screen and (max-width: variables.$small_laptop_width) {
      display: block;
    }
    .top_section {
      justify-content: space-between;
      padding-bottom: 24px;
      align-items: center;
      gap: 24px;
      display: none;

      @media screen and (max-width: variables.$small_laptop_width) {
        display: flex;
      }

      .title {
        @extend %hidden-title;
        margin: 0;
      }

      .buttons {
        display: flex;
        gap: 12px;

        button {
          border: none;
          background-color: transparent;

          .icon {
            color: #008842;
            font-size: 30px;
          }
        }
      }
    }

    .input_wrapper {
      position: relative;
      display: none;

      @media screen and (max-width: variables.$small_laptop_width) {
        display: block;
      }
      .input {
        @extend %input;
        padding-block: 8px;
        padding-inline: 16px;
        width: 100%;
        margin-bottom: 16px;
      }

      .icon {
        position: absolute;
        right: 2%;
        top: 9px;
        color: #008842;
      }
    }
  }
}
