@use "../../../../../styles/variables" as variables;

.weather {
  position: absolute;
  padding: 24px;
  width: max-content;
  background: #e6f3ec;
  box-shadow: 2px 2px 4px rgba(45, 45, 45, 0.05);
  border-radius: 8px;
  z-index: 999;
  top: -200%;

  @media screen and (max-width: variables.$default_tablet_width) {
    width: 97%;
    left: 1.5%;
  }

  .weather_big_infos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 200px;
    margin-bottom: 24px;

    @media screen and (max-width: variables.$default_tablet_width) {
      gap: 34px;
    }

    .section {
      display: flex;
      gap: 32px;

      .weather_degree {
        display: flex;
        align-items: center;
        color: #232624;

        .title {
          font-size: 56px;
          line-height: 56px;
          font-weight: 700;

          @media screen and (max-width: variables.$default_tablet_width) {
            font-size: 48px;
          }
        }
      }

      .info_list {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 4px;
        p {
          @extend %main-text-16;
          color: #2f3330;
        }
      }
    }

    .link {
      cursor: pointer;
      @extend %main-text-16;
      color: #007137;
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }

  .weather_degree_cards {
    display: flex;
    align-items: center;
    gap: 6px;
    flex-wrap: wrap;

    .card {
      padding: 4px 12px;
      background: #d9ede3;
      border-radius: 4px;

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.4px;
        color: #666e69;
        margin-bottom: 8px;
      }

      h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #232624;
      }
    }
  }
}
