$high_res_laptop_width: 1920px;
$default_laptop_width: 1440px;
$small_laptop_width: 1146px;

$high_res_tablet_width: 834px;
$default_tablet_width: 768px;
$small_tablet_width: 600px;

$high_res_smartphone_width: 480px;
$default_smartphone_width: 375px;
$small_smartphone_width: 320px;

%container {
  width: $small_laptop_width;
  margin-inline: auto;

  @media only screen and (max-width: $small_laptop_width) {
    width: 100%;
    padding-inline: 20px;
  }
}

%small-container {
  margin-inline: auto;
  width: 680px;

  @media screen and (max-width: $default_tablet_width) {
    width: 100%;
    padding-inline: 20px;
  }
}

%main-text-16 {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.35px;
}

%button {
  padding: 20px 32px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  border-radius: 120px;
  border: none;
  cursor: pointer;
  background-color: #008842;
  color: #e6f5ed;
  position: relative;
  z-index: 2;

  &::after {
    position: absolute;
    content: "";
    width: 42px;
    height: 42px;
    background: #b0dac4;
    opacity: 0.1;
    border-radius: 50%;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s all ease;
  }

  &:hover::after {
    width: 100%;
    height: 100%;
    left: 0;
    border-radius: 120px;
  }

  @media screen and (max-width: $default_tablet_width) {
    &::after {
      display: none;
    }
  }
}

%cancel-button {
  @extend %button;
  background-color: #f6f6f6;
  color: #2f3330;
}

%load-button {
  @extend %button;
  background-color: #c6cbc8 !important;
  color: #e6f5ed !important;
  cursor: auto !important;
  &::after {
    display: none !important;
  }
}

%medium-title {
  font-weight: 900;
  font-size: 33px;
  line-height: 140%;
  font-family: Montserrat;
  letter-spacing: 0.25px;
  text-transform: uppercase;

  @media screen and (max-width: $high_res_tablet_width) {
    font-size: 24px;
  }

  @media screen and (max-width: $default_tablet_width) {
    line-height: 120%;
  }
}

%snavbar-title {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: #101211;

  @media screen and (max-width: $small_laptop_width) {
    font-size: 20px;
  }
}

%hidden-title {
  @extend %snavbar-title;
  margin-bottom: 24px;
  margin-left: 30px;
}

%input {
  padding: 20px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.35px;
  color: #2f3330;
  border: 1px solid #c5c5c5;
  border-radius: 144px;
  outline: none;

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.35px;
    color: #2f3330;
  }

  &:focus {
    border-color: #008842;
  }
}

%add-form-input {
  @extend %input;
  width: 100%;
  border-radius: 16px;
  border: 1px solid #a7a7a7;
}

%textarea {
  @extend %add-form-input;
  max-width: 680px;
  min-height: 253px;

  @media screen and (max-width: $default_tablet_width) {
    max-width: 100%;
  }
}

%add-file-button {
  width: fit-content;
  background-color: #e6f3ec;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 13px;
  color: #03a679;
}

%file_input {
  display: none;
}

%err_message {
  color: #ea1a39;
  font-size: 14px;
  margin-bottom: 16px;
  text-align: left;
  margin-left: 30px;
}

// auth modal styles

%auth {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 95;
  padding: 64px;
  background: #ffffff;
  border-radius: 144px;
  text-align: center;

  @media screen and (max-width: $small_tablet_width) {
    padding: 32px;
  }

  @media screen and (max-width: $default_tablet_width) {
    border-radius: 70px;
  }

  h3 {
    @extend %snavbar-title;
    margin-bottom: 32px;
  }

  form {
    width: 446px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $small_tablet_width) {
      width: 100%;
    }
  }

  input {
    @extend %input;
    margin-bottom: 16px;
  }

  button {
    @extend %button;
    width: fit-content;
    margin-inline: auto;
  }
}
