@use "../../styles/variables" as variables;

.auth {
  background: url("../../assets/images/auth_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  margin-top: -110px;
  position: relative;

  @media screen and (max-width: variables.$default_tablet_width) {
    min-height: 110vh;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #008842;
    opacity: 0.9;
    z-index: 78;
  }
  .bg_image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
}
