@use "../../styles/variables" as variables;

.siteway {
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;

  .link {
    text-decoration: none;
    @extend %main-text-16;
    font-weight: 600;
    color: #008842;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;

    @media screen and (max-width: variables.$default_tablet_width) {
      white-space: unset;
    }

    &:hover {
      text-decoration: underline;
    }

    &:nth-last-child(1) {
      color: #2f3330;

      .icon {
        display: none;
      }
    }
  }
}
