@use "../../styles/variables" as variables;

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 36px 30px;
  color: #fff;

  .section {
    display: flex;
    align-items: center;
    gap: 36px;

    .temperature {
      display: flex;
      align-items: center;
      cursor: pointer;

      .icon {
        width: 32px;
        height: 32px;
      }

      p {
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 900;
        display: flex;
        margin-left: 4px;

        span {
          font-family: Inter;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .downloads {
      display: flex;
      gap: 14px;

      .downloads_icon {
        cursor: pointer;
      }

      .text {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.25px;
        color: #f6f6f6;
        text-transform: uppercase;

        span {
          font-weight: 400;
          font-size: 12px;
          line-height: 120%;
          letter-spacing: 0.4px;
          color: #e6f3ec;
          text-transform: capitalize;
        }
      }
    }
  }

  .main_logo {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    padding-top: 100px;
    padding-inline: 46px;
    padding-bottom: 28px;
    background-color: #fff;
    border-radius: 2222px;
    color: #000;

    top: -75%;
    left: 50%;
    transform: translate(-50%);

    .logo {
      width: 84px;
      height: 90px;
    }

    h3 {
      font-weight: 800;
    }
  }

  .r_section {
    gap: 32px;
    @extend %main-text-16;

    a {
      color: #fff;
      text-decoration: none;
    }

    .languages {
      display: flex;
      cursor: pointer;
    }

    .burger_menu {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 9.5px 18px;
      background-color: #008842;
      border-radius: 62px;
      cursor: pointer;
    }
  }
}

.arrow_icon {
  transform: rotate(-90deg);
  font-size: 16px;
  color: #b0dac4;
  margin-inline: 13px;
}
