@use "../../styles/variables" as variables;

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 36px 30px;
  color: #fff;
  z-index: 99;

  @media screen and (max-width: variables.$default_tablet_width) {
    padding: 18px;
  }
  @media screen and (max-width: variables.$small_tablet_width) {
    padding: 12px;
  }

  &[data-static="true"] {
    background-color: #008842;

    .main_logo {
      position: absolute;
      flex-direction: row;
      align-items: center;
      padding: 8px;
      top: 20%;
      background-color: transparent;
      color: #fff;

      @media screen and (max-width: variables.$default_tablet_width) {
        top: 10%;
        padding-block: 0;
      }

      .logo {
        width: 46px;
        height: 50px;

        @media screen and (max-width: variables.$default_tablet_width) {
          width: 32px;
        }
      }

      h3 {
        @media screen and (max-width: variables.$default_tablet_width) {
          font-size: 16px;
        }
      }
    }

    .r_section {
      .burger_menu {
        background-color: transparent;
      }
    }
  }

  &[data-auth="true"] {
    background-color: transparent;
  }

  .section {
    display: flex;
    align-items: center;
    gap: 36px;

    .temperature {
      display: flex;
      align-items: center;
      cursor: pointer;

      .icon {
        width: 32px;
        height: 32px;
      }

      div {
        font-size: 20px;
        font-family: Montserrat;
        font-weight: 900;
        display: flex;
        align-items: center;
        margin-left: 4px;
        gap: 8px;

        p {
          display: flex;
          span {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
          }
        }

        .icon {
          width: 14px;
        }
      }
    }
  }

  .main_logo {
    transition: 0.1s all ease;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    padding-top: 100px;
    padding-inline: 46px;
    padding-bottom: 28px;
    background-color: #fff;
    border-radius: 2222px;
    color: #000;
    top: -87%;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    border: 3px solid #008843;

    @media only screen and (max-width: variables.$small_laptop_width) {
      padding-inline: 18px;
      align-items: center;
    }

    @media only screen and (max-width: variables.$default_tablet_width) {
      padding-inline: 14px;
      padding-bottom: 18px;
      top: -120%;
    }

    @media screen and (max-width: variables.$small_tablet_width) {
      top: -155%;
    }

    .logo {
      width: 84px;
      height: 90px;

      @media only screen and (max-width: variables.$small_laptop_width) {
        width: 53px;
        height: 58px;
      }
      @media only screen and (max-width: variables.$default_tablet_width) {
        width: 36px;
        height: 36px;
      }
    }

    h3 {
      font-weight: 800;

      @media only screen and (max-width: variables.$high_res_smartphone_width) {
        font-size: 16px;
      }

      @media screen and (max-width: variables.$default_tablet_width) {
        font-size: 14px;
      }
    }
  }

  .r_section {
    gap: 32px;
    @extend %main-text-16;

    a {
      color: #fff;
      text-decoration: none;
    }

    .ava_section {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 7px 15px;
      background-color: #007a3b;
      border-radius: 144px;

      @media only screen and (max-width: variables.$small_laptop_width) {
        display: none;
      }
    }

    .login_link {
      @media only screen and (max-width: variables.$small_laptop_width) {
        display: none;
      }
    }
  }

  .modal_wrapper {
    position: relative;

    @media screen and (max-width: variables.$default_tablet_width) {
      position: static;
    }

    .languages {
      display: flex;
      cursor: pointer;
      align-items: center;
      gap: 8px;

      @media screen and (max-width: variables.$default_tablet_width) {
        display: none;
      }
    }

    .burger_menu {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 9.5px 18px;
      background-color: #008842;
      border-radius: 62px;
      cursor: pointer;
    }
  }
}

.arrow_icon {
  transform: rotate(-90deg);
  font-size: 16px;
  color: #b0dac4;
  margin-inline: 13px;
}
