@use "../../../styles/variables" as variables;

.login {
  @extend %auth;

  .pass_input {
    input {
      width: 100%;
    }

    img {
      cursor: pointer;
      position: absolute;
      right: 17%;
      bottom: 50%;
    }
  }

  .buttons_wrapper {
    display: flex;
    gap: 8px;

    button {
      &:nth-last-of-type(1) {
        color: #2f3330;
        background-color: #f6f6f6;
      }
    }
  }
}
