@use "../../styles/variables" as variables;

%footer-small-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #627b6e;
}

.footer {
  position: relative;
  background-color: #00381b;

  .to_top_button {
    position: absolute;
    padding: 34px 38px;
    background-color: #627b6e;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    right: 150px;
    top: -50px;
    z-index: 99;

    @media only screen and (max-width: variables.$small_laptop_width) {
      top: 120px;
    }
    @media only screen and (max-width: variables.$high_res_tablet_width) {
      padding: 20px 25px;
      height: fit-content;
      top: 90%;
      right: 5%;
    }

    @media only screen and (max-width: variables.$default_tablet_width) {
      padding: 8px 20px;
    }

    .arrow_icon {
      @media only screen and (max-width: variables.$default_tablet_width) {
        width: 15px;
      }
    }
  }

  .footer_wrapper {
    @extend %container;
    padding-top: 88px;
    padding-bottom: 49px;

    @media only screen and (max-width: 400px) {
      padding-top: 72px;
    }

    .footer_top {
      display: flex;
      gap: 120px;
      padding-bottom: 71px;
      margin-bottom: 40px;
      border-bottom: 1px solid #00522834;

      @media only screen and (max-width: variables.$small_laptop_width) {
        flex-direction: column;
        gap: 69px;
        border: none;
      }

      @media only screen and (max-width: 400px) {
        gap: 48px;
        padding-bottom: 8px;
      }

      .footer_section {
        display: flex;
        flex-direction: column;
        gap: 27px;

        @media only screen and (max-width: 400px) {
          gap: 16px;
        }

        .text {
          @extend %main-text-16;
          color: #627b6e;
          font-weight: 400;
        }

        .input_section {
          display: flex;
          padding: 8px;
          background: #e6f3ec;
          border-radius: 144px;
          width: 563px;
          border: 1px solid transparent;
          @media screen and (max-width: variables.$high_res_tablet_width) {
            width: 100%;
          }

          @media screen and (max-width: variables.$default_tablet_width) {
            position: relative;
          }

          &[data-err="true"] {
            border-color: #ea1a39;
          }

          .footer_input {
            flex: auto;
            background-color: transparent;
            border: none;
            outline: none;
            padding: 20px;
            @extend %main-text-16;
            color: #2f3330;

            @media screen and (max-width: variables.$default_tablet_width) {
              flex: auto;
            }

            &::placeholder {
              @extend %main-text-16;
              color: #2f3330;

              @media only screen and (max-width: 400px) {
                font-size: 14px;
              }
            }
          }

          .footer_button {
            @extend %button;

            @media screen and (max-width: variables.$default_tablet_width) {
              font-size: 14px;
              padding: 15px 27px;
              position: absolute;
              top: 15.1%;
              right: 2%;
            }
          }

          .load_button {
            @extend %load-button;
          }
        }

        .contact {
          .text {
            font-weight: 700;
            font-size: 26px;
            line-height: 32px;
            color: #f27c1c;
            margin-bottom: 16px;

            @media only screen and (max-width: 400px) {
              margin-bottom: 8px;
              font-size: 23px;
            }
          }
        }
      }
    }

    .footer_bottom {
      display: flex;
      justify-content: space-between;
      position: relative;

      @media only screen and (max-width: variables.$small_laptop_width) {
        gap: 128px;
        flex-direction: column-reverse;
      }

      @media only screen and (max-width: 400px) {
        gap: 56px;
      }

      .footer_section {
        max-width: 555px;
        margin-right: 145px;
        z-index: 2;

        @media only screen and (max-width: variables.$default_tablet_width) {
          margin-right: 0;
        }

        .title {
          font-size: 15px;
          line-height: 20px;
          color: #b0dac4;
          font-weight: 600;
          margin-bottom: 16px;
        }

        .text {
          @extend %footer-small-text;
          margin-bottom: 32px;
        }

        .footer_info {
          @extend %footer-small-text;
          opacity: 0.5;
        }
      }

      .footer_links_wrapper {
        display: flex;
        gap: 108px;

        @media only screen and (max-width: variables.$default_tablet_width) {
          flex-direction: column;
          gap: 12px;
        }

        .footer_links {
          display: flex;
          flex-direction: column;
          gap: 12px;
          z-index: 2;

          .link {
            text-decoration: none;
            @extend %footer-small-text;
          }
        }
      }
    }
  }
}
