.card_actions {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;

  div {
    display: flex;
    gap: 5px;
    align-items: center;

    .icon {
      width: 13px;
      height: 13px;
    }

    h5 {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.25px;
      color: #2f3330;
    }
  }

  .answer_info {
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #e6f3ec;
  }
}
