@use "../../../../styles/variables" as variables;

.card {
  display: flex;
  max-width: 593px;
  gap: 24px;
  align-items: center;
  cursor: pointer;
  margin-inline: auto;

  .image {
    width: 220px;
    height: 137px;
    border-radius: 144px;
  }

  .card_infos {
    .description {
      width: 349px;
      @extend %main-text-16;
      margin-bottom: 16px;
      color: #232624;
    }
  }
}
