.language_menu {
  position: absolute;
  left: 0;
  background-color: #e6f3ec;
  box-shadow: 2px 2px 4px rgba(45, 45, 45, 0.05);
  border-radius: 8px;
  z-index: 999;
  padding: 24px;

  .menu_item {
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 13px;
    color: #232624 !important;
    display: block;
  }
}
