@use "../../styles/variables" as variables;

.modal {
  @extend %auth;

  @media screen and (max-width: variables.$small_tablet_width) {
    width: 97%;
  }

  .form {
    gap: 32px;
  }

  input {
    width: 92%;
    margin-inline: auto;
  }

  .username_inp {
    &[data-err="true"] {
      border-color: #ea1a39;
    }
  }

  .password_inp {
    &[data-err="true"] {
      border-color: #ea1a39;
    }
  }

  .error_msg {
    @extend %err_message;
  }

  .pass_input {
    position: relative;
    img {
      cursor: pointer;
      position: absolute;
      right: 10%;
      bottom: 46%;

      @media screen and (max-width: 464px) {
        right: 15%;
        bottom: 55%;
      }
    }

    .view_pass1 {
      top: 34%;

      @media screen and (max-width: 448px) {
        top: 26%;
      }
    }

    .view_pass2 {
      top: 52%;

      @media screen and (max-width: 448px) {
        top: 44%;
      }
    }
  }

  .reset_pass {
    cursor: pointer;
    text-align: right;
    padding-right: 15px;
    @extend %main-text-16;
    text-decoration: none;
    color: #008842;
    margin-bottom: 32px;
  }

  .buttons_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    button {
      &:nth-last-of-type(1) {
        @extend %cancel-button;
      }
    }

    .load_button {
      @extend %load-button;
    }
  }
}
