@use "../../styles/variables" as variables;

.modal {
  @extend %auth;

  @media screen and (max-width: variables.$small_tablet_width) {
    width: 97%;
  }

  .form {
    gap: 32px;
  }

  input {
    width: 92%;
    margin-inline: auto;
  }

  .pass_input {
    img {
      cursor: pointer;
      position: absolute;
      right: 18%;
      bottom: 47%;
    }

    .view_pass1 {
      top: 34%;
    }

    .view_pass2 {
      top: 52%;
    }
  }

  .reset_pass {
    cursor: pointer;
    text-align: right;
    padding-right: 15px;
    @extend %main-text-16;
    text-decoration: none;
    color: #008842;
    margin-bottom: 32px;
  }

  .buttons_wrapper {
    display: flex;
    gap: 8px;

    button {
      &:nth-last-of-type(1) {
        @extend %cancel-button;
      }
    }
  }
}
